@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}

:root {
  --bg: #252527;
  --clr-1: #a2a2a3;
  --clr-2: #e7e7ec;
  --clr-3: #f7c223;
  --clr-neck: rgb(44, 31, 26);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

.container {
  max-width: 550px;
  padding: 0 10px;
  margin: 0 auto;
}


body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--clr-1);
  background-color: var(--bg);
}

.header {
  border-bottom: 1px solid var(--clr-2);
  color: var(--clr-3);
  text-align: center;
}

.header__title {
  font-size: 25px;
  margin: 15px 0px;
}

.app__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.app__notes-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border: 1px solid var(--clr-2);
  color: var(--clr-2);
  border-radius: 4px;
  font-size: 25px;
}

.control {
  border-top: 1px solid var(--clr-2);
}

.control__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.control__title {
  width: 270px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.control__notes {
  color: var(--clr-2);
  font-weight: normal;
}

.control__btn {
  border: 1px solid var(--clr-1);
  border-radius: 50%;
  font-size: 29px;
  width: 36px;
  height: 36px;
  margin: 12px;
  color: var(--clr-3);
  border-color: var(--clr-3);
}

.dropBtn {
  color: var(--clr-3);
}

@media (max-width: 500px) {
  .app__img {
    width: 200px;
  }
}