@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

.container {
  max-width: 550px;
  padding: 0 10px;
  margin: 0 auto;
}


body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #a2a2a3;
  background-color: #252527;
}

.header {
  border-bottom: 1px solid #cacad5;
  color: #f7c223;
  text-align: center;
}

.header__title {
  font-size: 25px;
  margin: 15px 0px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.app__notes-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border: 1px solid #a2a2a3;
  color: #e4e4e4;
  border-radius: 4px;
  font-size: 25px;
}

.footer{
  border-top: 1px solid #CACAD6;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.control__title {
  width: 270px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.control__notes {
  color: #e4e4e4;
  font-weight: normal;
}

.control__btn {
  border: 1px solid #a2a2a3;
  border-radius: 50%;
  font-size: 29px;
  width: 36px;
  height: 36px;
  margin: 12px;
  color: #f7c223;
  border-color: #f7c223;
}

@media (max-width: 500px) {
  .app__img {
    width: 200px;
  }
}